.navbot{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
height:80px;
width:100%;



}
.navbot li{
    list-style-type: none;
}
.navbot li a{
    text-decoration: none;
}
.ghome{
    font-size:4rem;
}